<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
  integrity="sha384-nB0miv6/bRfgiE3gQM6f8cCN2KCCQQdE4ooutSKynFCFRNHCtX9qvg9QTGNyrXW"
  crossorigin="anonymous"
/>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
  integrity="sha384-9U2rT5cgQNVmLLgw8FQHZMg9W6VhrJmWw3eqW2248gsAEiBWOcn/Y7yYc2BRYBQ"
  crossorigin="anonymous"
></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
  integrity="sha384-+VBxdEy+BO8N+1zErUMK8wMfTiV4hjgViZDdFq4wxSE0XCRsOGth0QoTsq+7wvV8"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body,{delimiters:[{left:'$$',right:'$$',display:true},{left:'\\[',right:'\\]',display:true},{left:'\\(',right:'\\)',display:false},{left:'$',right:'$',display:false}],ignoredTags:['script','noscript','style','textarea','pre','code']});"
></script>
